@page
@model AboutModel
@{
  ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>Use this area to provide additional information.</p>

https://www.iconfinder.com/icons/1785197/basket_cart_checklist_list_schedule_shop_todo_icon