@page
@model ContactModel
@{
  ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
  <strong>Support:</strong> <a href="mailto:support@cyotek.com">support@cyotek.com</a><br/>
</address>
